<div class="home io-2019-extended">
  <div class="hero-main">
    <div class="io-ext-logo">
      <!-- will change to I/O Extended -->
        <svg aria-hidden="true" width="202" height="146" viewBox="0 0 202 146" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="heroLogo__2bEGF">
          <defs>
              <path id="svg-IOLogo-1HP3x0F" d="M.158.39H107.28v106.92H.158z"></path>
              <path id="svg-IOLogo-2gMqZt5" d="M.105.557h38.004v144.574H.105z"></path>
          </defs>
          <g fill="none" fill-rule="evenodd">
              <path fill="#D3E3F9" d="M0 123.16h51.714V19.926H0z"></path>
              <g transform="translate(94.034 17.693)">
                  <mask id="svg-IOLogo-1GJnE3E" fill="#fff">
                      <use xlink:href="#svg-IOLogo-1HP3x0F"></use>
                  </mask>
                  <path d="M53.72.39C24.138.39.157 24.325.157 53.85c0 29.525 23.98 53.46 53.561 53.46 29.582 0 53.562-23.935 53.562-53.46C107.28 24.326 83.3.39 53.719.39m0 5.214c26.653 0 48.338 21.643 48.338 48.247 0 26.601-21.685 48.245-48.338 48.245-26.652 0-48.337-21.644-48.337-48.245 0-26.604 21.685-48.247 48.337-48.247" fill="#4285F4" mask="url(#svg-IOLogo-1GJnE3E)"></path>
              </g>
              <g transform="translate(58.336 .312)">
                  <mask id="svg-IOLogo-3Uw-mEh" fill="#fff">
                      <use xlink:href="#svg-IOLogo-2gMqZt5"></use>
                  </mask>
                  <path fill="#5BB974" mask="url(#svg-IOLogo-3Uw-mEh)" d="M5.625 145.131l-5.52-1.247L32.588.557l5.52 1.246z"></path>
              </g>
          </g>
      </svg>
    </div>
    <div class="io-ext-meta">
      <div class="io-ext-about">
        <p class="paragraph">I/O Extended는 Google I/O 현장을 참석하지 못하였지만,
          Google I/O의 현장 경험과 발표한 내용을 공유하는 자리입니다. I/O Extended는 Google에서 진행하는 것이 아닌,
          GDG (Google Developers Group) Korea에서 개최하고 있는,
          비영리 목적의 커뮤니티 행사입니다.</p>
      </div>
    </div>
  </div>
  <div class="hero-gdg">
    <section class="io-ext-gdg-korea">
      <h3 class="h3">GDG Korea</h3>
      <p>GDG Korea 에는 9개의 지역기반 그룹(GDG Seoul, GDG Pangyo, GDG Incheon, GDG Busan, GDG Gwangmyeong, GDG Daejeon, GDG SongDo, GDG Suwon, GDG Ulsan), 3개의 기술기반 그룹(GDG Korea Android, GDG Korea WebTech, GDG Cloud Korea), 1개의 스페셜한 그룹(GDG Campus Korea)이 있습니다.</p>
    </section>
    <section class="io-ext-gdg-korea">
      <h3 class="h3">What is GDG?</h3>
      <p>Google Developers Group (GDG)는 전 세계 100여 국, 550여개의 챕터가 있으며, 한국에는 현재 13개의 챕터가 있습니다. Google 기술에 관심이 있는 개발자라면 누구나 GDG 맴버가 될 수 있습니다. 구글기술에 관심이 있는 많은 개발자들의 네트워크와 구글기술에 대한 활동이 이어지는 모임으로 진행될 것입니다. 아직 GDG Korea에 참여를 고민하시나요? 고민하지 마시고 편한 마음으로 참여하십시요.</p>
    </section>
  </div>
  <div class="io-ext-place">

  </div>
  <div class="io-ext-sponsor">
    
  </div>
</div>