.io-ext-section {
    padding: 40px 15px;
    max-width: 720px;
}

.io-ext-banner {
    font-size: 18px;
    font-weight: 500;
}

.io-ext-meta {
    font-weight: 500;
}

.io-ext-photo-16-9 {
    padding-top: 56.25%;
    background-position: center center;
    background-size: cover;
    margin: 0;
}

@media (min-width: 600px) {
    .io-ext-section {
        padding: 120px 60px;
    }

    .io-ext-banner {
        font-size: 32px;
    }

    .io-ext-meta {
        font-size: 16px;
    }
}