<header class="header">
  <button type="button" aria-label="Open Navigation" class="hamburger-button">
    <i aria-hidden="true" class="material-icons">menu</i>
  </button>
</header>
<nav class="navbar">
  <ul class="nav" role="navigation">
    <li class="nav-item">
      <a aria-label="home" routerLink="/">
        <i aria-hidden="true" class="material-icons">home</i>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a aria-label="Schedule" routerLink="/schedule">
        <i aria-hidden="true" class="material-icons">calendar_today</i>
        Schedule
      </a>
    </li>
    <li class="nav-item">
      <a aria-label="Speakers" routerLink="/schedule">
        <i aria-hidden="true" class="material-icons">people</i>
        Speakers
      </a>
    </li>
    <li class="nav-item">
      <a aria-label="Attending" routerLink="/schedule">
        <i aria-hidden="true" class="material-icons">directions_walk</i>
        Attending
      </a>
    </li>
  </ul>
</nav>
<div class="app-wrapper">
  <router-outlet></router-outlet>
</div>
<footer class="footer">

</footer>