.schedule-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #e8eaed;
    padding-top: 12px;
    margin: 0 12px;
}

.schedule-container:last-of-type {
    border-bottom: 1px solid #e8eaed;
}

.schedule-link {
    padding: 0 0 24px;
}

.schedule-time {
    font-size: 14px;
    color: #5f6368;
    text-align: center;
}

.schedule-time-ampm {
    display: block;
}

.schedule-item-container {
    grid-column: 2/5;
}

.schedule-name {
    font-size: 14px;
    font-weight: 500;
}

.schedule-meta {
    font-size: 12px;
    font-weight: 400;
}

.schedule-meta > div {
    display: inline-block;
    margin-right: 16px;
}

.schedule-place {
    color: #5f6368;
}

.schedule-categories {
    color: #202124;
}

@media (min-width: 600px) {
    .schedule-container {
        grid-template-columns: repeat(6, 1fr);
        padding-top: 0;
    }
    
    .schedule-item-container {
        grid-column: 2/7;
    }
    
    .schedule-time {
        padding: 32px 0 0;
        grid-column: 1;
        border-right: 1px solid #e8eaed;
    }

    .schedule-link {
        display: block;
        padding: 32px calc((((100% - 180px) / 10) * 1) + 0px + 20px);
    }
    
    .schedule-link:hover {
        background: #f8f9fa;
    }

    .schedule-item + .schedule-item {
        border-top: 1px solid #e8eaed;
    }

    .schedule-name {
        font-size: 18px;
    }

    .schedule-meta {
        font-size: 15px;
    }
}