body {
    margin: 0;
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    word-break: keep-all;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #3c4043;
    text-decoration: none;
}

button {
    display: inline-block;
    width: auto;
    height: auto;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}